/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./react/src/index.css ***!
  \***********************************************************************/
h1{

    color: red;
}
/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./react/src/viewPage/Po/po.css ***!
  \********************************************************************************/
ul{
    text-decoration: none;
    text-align: center;
    color: greenyellow;

    border: solid 1px red;
}



