#Laboratorios{
    display: flex;
    border: 1px solid red;


}

#PanelVidrio{
    display: flex;
    border: 1px solid blue;
    


}


#PanelDatos{
    border: 1px solid green;
    display: flex;
    

}

#Panel_principal{
    width: 80%;
    height: 100vh;
    margin: auto;
    padding: 10px 0px;

    background: linear-gradient(to top, rgb(34, 34, 34) ,
                                 rgb(163, 163, 163) 5% , 
                                 black,black 40%,black 80%  , 
                                 rgb(163, 163, 163)95%, 
                                 rgb(34, 34, 34) );
    border-radius: 20px;
    


    

}

#Panel_laboratorio{
    width: 95%;
    height: 55vh ;
    margin: auto;
    border-radius: 10px;
    border: 10px solid rgba(91, 161, 175, 0.573);
    
    background: linear-gradient(
        to top, 
        rgb(196, 186, 186) 10%, 
        rgb(168, 223, 211) 50%,
        rgb(168, 180, 178));

    

   

}



#Panel_datos{
    width: 100%;
    height: 45vh;
    margin: auto;

}

#Car1, #Car2{
    width: 80px;
    height: 50px;
    margin: 0;
    padding: 0;
}

@media (max-width: 500px){
    #Car1, #Car2{
        width: 40px;
        height: 25px;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 700px){
    #Car1, #Car2{
        width: 50px;
        height: 35px;
        margin: 0;
        padding: 0;
    }
}










